In [15]:
#creating DataFrame
import os
from xml.etree import ElementTree
import pandas as pd
def f1():
    dfcolumns = ["itemid", "headline","text", "bip:topics", "dc.date.published", "XML filename"]
    dfrows = []
    path='C:\Data'

    files = []
    for r, d, f in os.walk(path):
        for file in f:
            if '.xml' in file:
                files.append(os.path.join(r,file))
        
    for name in files:
 
        bip = []       
        dom = ElementTree.parse(name)
     
        root = dom.getroot()
        itemno = root.get("itemid")
     
        heading = root.findtext("headline",default=None)
     
        for child in root:
   
            for n in child.iter('text'):
                for i in n:
                        texts = i.text
                                     
     
                for m in child.iter('metadata'):
           
                    for j in m.iterfind(".//codes[@class='bip:topics:1.0']"):
                       
                            for k in j.iter("code"):
                              
                              
                                bip.append(k.get('code'))
                                
                 
                    for p in m.iterfind(".//dc[@element='dc.date.published']"):
                               pdate=p.get('value')
        filename = itemno + "newsML.xml"
                           
     
  
        dfrows.append({ "itemid" : itemno, "headline" : heading, "text" : texts, 
                 "bip:topics" : bip, "dc.date.published" : pdate, "XML filename" : filename })
    dfoutput = pd.DataFrame(dfrows, columns = dfcolumns)
    print (dfoutput)

In [9]:
f1()

       itemid                                           headline  \
0      326914      Canadian Occidental mounts rival Wascana bid.
1      326915   Gruma, Maseca to receive syndicated loan - bank.
2      326916  Too early to call Krupp bid hostile - Deutsche...
3      326917  FOCUS - Euro bourses fret over Wall St, electi...
4      326918        French stocks fall, Alcatel posts big gain.
5      326919  UK shares end lower, depressed by Dow and poli...
6      326920    FOCUS - Coffee drops after a spectacular rally.
7      368468   BOMBAY LEADING STOCKS CLOSING PRICES - March 13.
8      368469  MQM joins Sindh cabinet in Pakistan, governor ...
9      368470  Sri Lanka launches multiple attacks on rebel b...
10     368471  Indonesian officials safe in helicopter emerge...
11     368472    Hindu Brahmin convert to succeed Mother Teresa.
12     368473  Indian Shipping -- Visakhapatnam Cargoes - Mar...
13     368474   Bombay stocks end shade lower in moribund trade.
14     368475        Indian chemicals prices - Delhi - March 13.
15     368476     Indian oils & oilseeds  prices-Delhi-March 13.
16     368477      Indian gur & sugar prices - Delhi - March 13.
17     368478       Indian foodgrains prices - Delhi - March 13.
18     368479            INDIA GOVERNMENT SECURITIES - March 13.
19     368480     Forthcoming book-closures of Indian companies.
20     368481    Forthcoming board meetings of Indian companies.
21     368482    INDICATORS - Key Indian economic data-March 13.
22     377564      Eurowings/Air France to fly Frankfurt-Berlin.
23     377565  Swiss activist claims court win over Scientology.
24     377566    Madrid stocks march higher, buoyed by CPI data.
25     377567         Alcatel signs $225 mln Indonesia GSM deal.
26     377568  Dutch bonds close down, but sentiment remains ...
27     377569            Italy's Bulgari to propose stock split.
28     377570     Farm council to vote on cattle, pigs controls.
29     377571  Juppe seeks EU VAT cut on CD-ROMS,on-line serv...
...       ...                                                ...
48345  477856                  PRESS DIGEST - Cyprus - March 31.
48346  477857                  PRESS DIGEST - Israel - March 31.
48347  477858  Iran's Rafsanjani not decided on Saudi haj visit.
48348  477859  FEATURE-Egyptian women suffer violence in sile...
48349  477860     Bank of Portugal injects 4.0 bln esc, 6.5 pct.
48350  477861      Greek 1M ATHIBOR rose to 10.90 from 10.72pct.
48351  477862  Greek 1M ATHIBOR edges up to 10.72 from 10.72pct.
48352  477863               PRESS DIGEST - Portugal -- March 31.
48353  477864                   PRESS DIGEST - Malta - March 31.
48354  477865  Bank/Portugal sets 10 bln esc variable rate repo.
48355  477866           Yield rises on Portuguese 182-day bills.
48356  477867          Table of Greek mutual fund flows, assets.
48357  477868  FEATURE - Valencia sets itself ablaze in fiery...
48358  477869  FEATURE - Art show recalls happier Franco-Belg...
48359  477870    NEW YORK, March 31 (Reuter) - Wang Laboratorie.
48360  477871    Hearst's Ganzi seen in line for CEO post - WSJ.
48361  477872           Uzbek President Karimov to visit Greece.
48362  477873       St Jude to reduce Ventritex price - Journal.
48363  477874                                           Journal.
48364  477875  India retains import curbs on consumer electro...
48365  477876  India rupee recovers, shrugs off political wor...
48366  477877   Bulgaria seeks advisers for sale of state firms.
48367  477878  INTERVIEW-Lion Teck Chiang sees net up 70 pct ...
48368  477879   World Bank says Bangladesh must open up economy.
48369  477880   Disney Online to charge for kid website - Times.
48370  477881  U.S. to back fewer supercomputer centers - Times.
48371  477882  Indian shares plunge 8.6 pct on political crisis.
48372  477883  Singapore shares open weak, funds stay sidelined.
48373  477884        Selecta declares two centavo cash dividend.
48374  477885           Tokyo stocks down in thin morning trade.

                                                    text  \
0      Wascana shares were up C$1.05 to C$20.40 in he...
1      ((-- Robert Kozak, Mexico City newsroom (525) ...
2      --David Crossland, Frankfurt Newsroom, +49 69 ...
3      Gold was fixed at $346.30 an ounce in the afte...
4      Total, up 0.02 percent at 457.50, is expected ...
5      The index of 100 leading shares ended 16.5 poi...
6      "If the market were to suddenly find that prod...
7                Tata Steel\t\t\t   189.25\t\t    192.00
8      Political sources said the MQM had dropped an ...
9      The government says more than 50,000 people ha...
10     Officials denied an earlier report from airpor...
11     "I would think Sister Nirmala would try her be...
12                    -- Bombay newsroom +91-22-265 9000
13     -- Anshuman Daga, Bombay equities desk +91-22-...
14     To contribute to this daily table of indicativ...
15     To contribute to this daily table of indicativ...
16     To contribute to this daily table of indicativ...
17     To contribute to this daily table of indicativ...
18                                        Mat - Maturity
19                    -- Bombay newsroom +91-22-265 9000
20                    -- Bombay newsroom +91-22-265 9000
21                    -- Bombay newsroom +91-22-265 9000
22     But he added: "There is no monopoly between Fr...
23     It was founded in 1954 by the American science...
24     Among banks, Banesto gained 3.1 percent, while...
25                     -- Paris Newsroom +33 1 4221 5452
26     He added that recent U.S. economic data had po...
27     Bulgari said in a statement, "Such a proposal ...
28     "A decision is expected although Germany Greec...
29                      -- Paris Newsroom +331 4221 5452
...                                                  ...
48345                                ($1 = 0.501 pounds)
48346  - Cellcom loses 48.1 million shekels in fourth...
48347  Iran's Foreign Minister Ali Akbar Velayati has...
48348  Therapy helped the woman, who holds a trade di...
48349                      -- LISBON BUREAU 3511-3538254
48350  --Dimitris Kontogiannis, Athens Newsroom +301 ...
48351  --Dimitris Kontogiannis, Athens Newsroom +301 ...
48352                       --Lisbon bureau 3511-3538254
48353         -  Four women injured in traffic accident.
48354                       --Lisbon bureau 3511-3150035
48355                       --LISBON BUREAU 3511-3150035
48356  --Dimitris Kontogiannis, Athens Newsroom +301 ...
48357  "For the artists, this is a never-ending cycle...
48358  If Meunier were alive today, he might well be ...
48359  The company also promised to give him 230,000 ...
48360     The Journal cited people close to the company.
48361  "But the most important event within the frame...
48362  On Feb. 6, St. Jude's chief financial officer ...
48363  PartnerRe said Feb. 26 it reached an understan...
48364  "Export-oriented units/export processing zones...
48365  "A fall is therefore due. What the RBI will pr...
48366                  -- Sofia Newsroom +359-2 981 8569
48367  The offer will close on April 15 and trading i...
48368  "This trade has been facilitated by the differ...
48369                 Disney Online is a unit of Disney.
48370  Total spending for each centre would be about ...
48371  Traders said investors and speculators were se...
48372  Brighter news came from OCBC Bank however. Its...
48373        -- Manila newsroom 63 2 8418939 fax 8176267
48374  Brokers said foreign investors were off for th...

                                          bip:topics dc.date.published  \
0                                             [C181]        1997-03-18
1                                             [C173]        1997-03-18
2                                  [C18, C181, CCAT]        1997-03-18
3                  [M11, M13, M132, M14, M142, MCAT]        1997-03-18
4                                        [G152, M11]        1997-03-18
5                                        [M11, MCAT]        1997-03-18
6                                  [M14, M141, MCAT]        1997-03-18
7                                        [M11, MCAT]        1997-03-13
8                                 [GCAT, GPOL, GVIO]        1997-03-13
9                                       [GCAT, GVIO]        1997-03-13
10                                [GCAT, GDIS, GPOL]        1997-03-13
11                                [GCAT, GPRO, GREL]        1997-03-13
12                                       [M14, MCAT]        1997-03-13
13                                       [M11, MCAT]        1997-03-13
14                                       [M14, MCAT]        1997-03-13
15                                 [M14, M141, MCAT]        1997-03-13
16                                 [M14, M141, MCAT]        1997-03-13
17                                       [M14, MCAT]        1997-03-13
18                                       [M12, MCAT]        1997-03-13
19                                 [C15, C151, CCAT]        1997-03-13
20                                 [C15, C151, CCAT]        1997-03-13
21                                       [E71, ECAT]        1997-03-13
22                                       [C11, CCAT]        1997-03-13
23                         [GCAT, GCRIM, GREL, GVIO]        1997-03-13
24                                       [M11, MCAT]        1997-03-13
25                                       [C33, CCAT]        1997-03-13
26                                       [M12, MCAT]        1997-03-13
27                                 [C17, C171, CCAT]        1997-03-13
28                      [C13, CCAT, G15, G153, GCAT]        1997-03-13
29     [C13, CCAT, E21, E211, ECAT, G15, G154, GCAT]        1997-03-13
...                                              ...               ...
48345                                         [GCAT]        1997-03-31
48346                                         [GCAT]        1997-03-31
48347                       [GCAT, GDIP, GPOL, GREL]        1997-03-31
48348                            [GCAT, GCRIM, GPOL]        1997-03-31
48349                              [M13, M131, MCAT]        1997-03-31
48350                         [M12, M13, M131, MCAT]        1997-03-31
48351                         [M12, M13, M131, MCAT]        1997-03-31
48352                                         [GCAT]        1997-03-31
48353                                         [GCAT]        1997-03-31
48354                              [M13, M131, MCAT]        1997-03-31
48355                              [M13, M131, MCAT]        1997-03-31
48356                              [C15, C151, CCAT]        1997-03-31
48357                             [GCAT, GENT, GREL]        1997-03-31
48358                             [GCAT, GDIP, GENT]        1997-03-31
48359                                         [C171]        1997-03-31
48360                                             []        1997-03-31
48361                                         [GDIP]        1997-03-31
48362                                     [C31, C33]        1997-03-31
48363                                          [C33]        1997-03-31
48364                                         [E512]        1997-03-31
48365                              [M13, M132, MCAT]        1997-03-31
48366                                         [C183]        1997-03-31
48367                                         [C152]        1997-03-31
48368                          [E11, E12, E51, ECAT]        1997-03-31
48369                                             []        1997-03-31
48370                                             []        1997-03-31
48371                                          [M11]        1997-03-31
48372                                          [M11]        1997-03-31
48373                                         [C151]        1997-03-31
48374                                          [M11]        1997-03-31

           XML filename
0      326914newsML.xml
1      326915newsML.xml
2      326916newsML.xml
3      326917newsML.xml
4      326918newsML.xml
5      326919newsML.xml
6      326920newsML.xml
7      368468newsML.xml
8      368469newsML.xml
9      368470newsML.xml
10     368471newsML.xml
11     368472newsML.xml
12     368473newsML.xml
13     368474newsML.xml
14     368475newsML.xml
15     368476newsML.xml
16     368477newsML.xml
17     368478newsML.xml
18     368479newsML.xml
19     368480newsML.xml
20     368481newsML.xml
21     368482newsML.xml
22     377564newsML.xml
23     377565newsML.xml
24     377566newsML.xml
25     377567newsML.xml
26     377568newsML.xml
27     377569newsML.xml
28     377570newsML.xml
29     377571newsML.xml
...                 ...
48345  477856newsML.xml
48346  477857newsML.xml
48347  477858newsML.xml
48348  477859newsML.xml
48349  477860newsML.xml
48350  477861newsML.xml
48351  477862newsML.xml
48352  477863newsML.xml
48353  477864newsML.xml
48354  477865newsML.xml
48355  477866newsML.xml
48356  477867newsML.xml
48357  477868newsML.xml
48358  477869newsML.xml
48359  477870newsML.xml
48360  477871newsML.xml
48361  477872newsML.xml
48362  477873newsML.xml
48363  477874newsML.xml
48364  477875newsML.xml
48365  477876newsML.xml
48366  477877newsML.xml
48367  477878newsML.xml
48368  477879newsML.xml
48369  477880newsML.xml
48370  477881newsML.xml
48371  477882newsML.xml
48372  477883newsML.xml
48373  477884newsML.xml
48374  477885newsML.xml

[48375 rows x 6 columns]

In [2]:
dfoutput.head(3)

,itemid,headline,text,bip:topics,dc.date.published,XML filename
0,326914,Canadian Occidental mounts rival Wascana bid.,Wascana shares were up C$1.05 to C$20.40 in he...,[C181],1997-03-18,326914newsML.xml
1,326915,"Gruma, Maseca to receive syndicated loan - bank.","((-- Robert Kozak, Mexico City newsroom (525) ...",[C173],1997-03-18,326915newsML.xml
2,326916,Too early to call Krupp bid hostile - Deutsche...,"--David Crossland, Frankfurt Newsroom, +49 69 ...","[C18, C181, CCAT]",1997-03-18,326916newsML.xml

In [3]:
#Possible values of biptopic
labels_y = pd.DataFrame()
def btop(dataframe):
    biplist=[]
    for n in (dfoutput['bip:topics']):
        j = str(n).split(',')
        biplist.append(j[0])
    labels_y['topics'] = biplist
    return labels_y

In [4]:
btop(dfoutput)

         topics
0      ['C181']
1      ['C173']
2        ['C18'
3        ['M11'
4       ['G152'
5        ['M11'
6        ['M14'
7        ['M11'
8       ['GCAT'
9       ['GCAT'
10      ['GCAT'
11      ['GCAT'
12       ['M14'
13       ['M11'
14       ['M14'
15       ['M14'
16       ['M14'
17       ['M14'
18       ['M12'
19       ['C15'
20       ['C15'
21       ['E71'
22       ['C11'
23      ['GCAT'
24       ['M11'
25       ['C33'
26       ['M12'
27       ['C17'
28       ['C13'
29       ['C13'
...         ...
48345  ['GCAT']
48346  ['GCAT']
48347   ['GCAT'
48348   ['GCAT'
48349    ['M13'
48350    ['M12'
48351    ['M12'
48352  ['GCAT']
48353  ['GCAT']
48354    ['M13'
48355    ['M13'
48356    ['C15'
48357   ['GCAT'
48358   ['GCAT'
48359  ['C171']
48360        []
48361  ['GDIP']
48362    ['C31'
48363   ['C33']
48364  ['E512']
48365    ['M13'
48366  ['C183']
48367  ['C152']
48368    ['E11'
48369        []
48370        []
48371   ['M11']
48372   ['M11']
48373  ['C151']
48374   ['M11']

[48375 rows x 1 columns]

In [6]:
print (labels_y)

         topics
0      ['C181']
1      ['C173']
2        ['C18'
3        ['M11'
4       ['G152'
5        ['M11'
6        ['M14'
7        ['M11'
8       ['GCAT'
9       ['GCAT'
10      ['GCAT'
11      ['GCAT'
12       ['M14'
13       ['M11'
14       ['M14'
15       ['M14'
16       ['M14'
17       ['M14'
18       ['M12'
19       ['C15'
20       ['C15'
21       ['E71'
22       ['C11'
23      ['GCAT'
24       ['M11'
25       ['C33'
26       ['M12'
27       ['C17'
28       ['C13'
29       ['C13'
...         ...
48345  ['GCAT']
48346  ['GCAT']
48347   ['GCAT'
48348   ['GCAT'
48349    ['M13'
48350    ['M12'
48351    ['M12'
48352  ['GCAT']
48353  ['GCAT']
48354    ['M13'
48355    ['M13'
48356    ['C15'
48357   ['GCAT'
48358   ['GCAT'
48359  ['C171']
48360        []
48361  ['GDIP']
48362    ['C31'
48363   ['C33']
48364  ['E512']
48365    ['M13'
48366  ['C183']
48367  ['C152']
48368    ['E11'
48369        []
48370        []
48371   ['M11']
48372   ['M11']
48373  ['C151']
48374   ['M11']

[48375 rows x 1 columns]

In [7]:
s=[]

for i in (dfoutput['bip:topics']):
    k = str(i).split(',')
    s.append(k[0])

In [8]:
dfoutput['new_topics'] = s

In [9]:
dfoutput['new_topics'] = dfoutput['new_topics'].str.replace('\'', '')

In [10]:
dfoutput['new_topics'] = dfoutput['new_topics'].str.replace('[', '')

In [11]:
dfoutput['new_topics'] = dfoutput['new_topics'].str.replace(']', '')

In [12]:
dfoutput.head()

,itemid,headline,text,bip:topics,dc.date.published,XML filename,new_topics
0,326914,Canadian Occidental mounts rival Wascana bid.,Wascana shares were up C$1.05 to C$20.40 in he...,[C181],1997-03-18,326914newsML.xml,C181
1,326915,"Gruma, Maseca to receive syndicated loan - bank.","((-- Robert Kozak, Mexico City newsroom (525) ...",[C173],1997-03-18,326915newsML.xml,C173
2,326916,Too early to call Krupp bid hostile - Deutsche...,"--David Crossland, Frankfurt Newsroom, +49 69 ...","[C18, C181, CCAT]",1997-03-18,326916newsML.xml,C18
3,326917,"FOCUS - Euro bourses fret over Wall St, electi...",Gold was fixed at $346.30 an ounce in the afte...,"[M11, M13, M132, M14, M142, MCAT]",1997-03-18,326917newsML.xml,M11
4,326918,"French stocks fall, Alcatel posts big gain.","Total, up 0.02 percent at 457.50, is expected ...","[G152, M11]",1997-03-18,326918newsML.xml,G152

In [18]:
import re
import nltk
import numpy as np

nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
def f3():
    stoplist = stopwords.words('english')
    col=['text']
    
    rows = []
    ps = PorterStemmer()
    lemmatizer = WordNetLemmatizer()
        
    for n in files:
            new = []
            dom = ElementTree.parse(n)
            r = dom.getroot()
       
            for cld in r:         
           
                  for n in cld.iter('text'):
                     for i in n:
                        m = i.text
                        o = re.sub('[\s,.]|[\s,"]|[\s,*]|[\s,\']|[\s,-]|[\s,%]|[\s,)]|[\s,/]|[\s,?]|\W\d{1,5}[^)(]*'," ", m)
                        p = ps.stem(o)
                      

                        q = lemmatizer.lemmatize(p)  
                        for word in q.split():
                           

                            if word not in stoplist:
                       
                       
                                new.append(word)
                                newtext=new
            rows.append({"text":newtext}) 
    df=pd.DataFrame(rows,columns=col)
    print(df)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\malik\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [19]:
f3()

                                                    text
0      [canadian, occidental, petroleum, ltd, emerged...
1      [bank, america, launch, three, year, going, fo...
2      [deutsche, bank, ag, management, board, member...
3      [european, bourses, fell, tuesday, even, wall,...
4      [french, shares, closed, lower, tuesday, secon...
5      [london, ftse, 100, index, ended, lower, thurs...
6      [world, coffee, markets, tumble, spectacular, ...
7      [today, close, previous, clos, bombay, 30, sha...
8      [pakistani, ethnic, movement, blamed, past, tu...
9      [sri, lankan, forces, launched, air, naval, ar...
10     [two, indonesian, government, ministers, offic...
11     [former, hindu, brahmin, converted, roman, cat...
12     [following, berthing, schedule, major, vessels...
13     [shares, bombay, stock, exchange, close, small...
14     [rates, supplied, asian, news, international, ...
15     [rates, supplied, asian, news, international, ...
16     [rates, supplied, asian, news, international, ...
17     [rates, supplied, asian, news, international, ...
18     [government, indicative, coupon, yield, year, ...
19     [ace, laboratories, march, 21, march, 27, 15, ...
20     [company, date, meeting, purpos, shaw, wallace...
21     [daily, indicators, wednesday, previ, rupee, u...
22     [german, airline, eurowings, luftverkehrs, ag,...
23     [swiss, anti, sect, campaigner, claimed, victo...
24     [madrid, stocks, bucked, trend, march, higher,...
25     [france, alcatel, alsthom, said, thursday, sig...
26     [dutch, bonds, ended, thursday, midsession, lo...
27     [italy, bulgari, said, propose, stock, split, ...
28     [farm, ministers, asked, vote, proposal, simpl...
29     [prime, minister, alain, juppe, said, thursday...
...                                                  ...
48345  [leading, stories, greek, cypriot, press, mond...
48346  [leading, stories, israeli, newspapers, monday...
48347  [iranian, president, akbar, hashemi, rafsanjan...
48348  [marlene, tadros, veteran, egyptian, human, ri...
48349  [bank, portugal, said, injected, 4, 0, billion...
48350  [athens, interbank, offered, rate, (athibor, o...
48351  [athens, interbank, offered, rate, (athibor, o...
48352  [following, leading, domestic, stories, portug...
48353  [following, leading, stories, maltese, press, ...
48354  [bank, portugal, offered, inject, 10, billion,...
48355  [average, yield, rose, 6, 0300, percent, 6, 02...
48356  [ionian, bank, reported, following, daily, yea...
48357  [deafening, blasts, thunder, streets, burning,...
48358  [shoot, frenchman, goes, old, belgian, joke, a...
48359  [wang, laboratories, gave, chairman, chief, ex...
48360  [hearst, corp, named, victor, ganzi, executive...
48361  [uzbek, president, islam, karimov, leaves, mon...
48362  [st, jude, medical, inc, expected, announce, a...
48363  [bermuda, based, partnerre, ltd, set, announce...
48364  [india, commerce, ministry, said, monday, expo...
48365  [indian, rupee, held, steady, dollar, monday, ...
48366  [bulgarian, government, seeking, financial, ad...
48367  [property, steel, group, lion, teck, chiang, l...
48368  [world, bank, asked, bangladesh, reduce, impor...
48369  [walt, disney, co, plans, charge, site, called...
48370  [national, science, foundation, plans, reduce,...
48371  [indian, shares, plunged, eight, percent, pani...
48372  [singapore, shares, opened, weaker, monday, fu...
48373  [selecta, dairy, products, inc, declared, mond...
48374  [tokyo, stocks, fell, monday, morning, last, d...

[48375 rows x 1 columns]

In [39]:
df.head(4)

                                                text
0  [canadian, occidental, petroleum, ltd, emerged...
1  [bank, america, launch, three, year, going, fo...
2  [deutsche, bank, ag, management, board, member...
3  [european, bourses, fell, tuesday, even, wall,...

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from scipy.sparse import csc_matrix
df_tf=pd.DataFrame()
vectorizer = CountVectorizer()        
df_tf=pd.DataFrame()
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2),max_features = 12,min_df=1)


df_tf['features']=[" ".join(text) for text in df['text'].values]

vector = vectorizer.fit_transform(df_tf['features'])
vector2 = tf.fit_transform(df_tf['features'])
            
pr=vector2.toarray().tolist()
            
df_tf['featureextracted']=pr  
print (df_tf)

                                                features  \
0      canadian occidental petroleum ltd emerged tues...
1      bank america launch three year going forward s...
2      deutsche bank ag management board member rolf ...
3      european bourses fell tuesday even wall street...
4      french shares closed lower tuesday second cons...
5      london ftse 100 index ended lower thursday dep...
6      world coffee markets tumble spectacular rally ...
7      today close previous clos bombay 30 share inde...
8      pakistani ethnic movement blamed past turning ...
9      sri lankan forces launched air naval artillery...
10     two indonesian government ministers officials ...
11     former hindu brahmin converted roman catholici...
12     following berthing schedule major vessels load...
13     shares bombay stock exchange close small losse...
14     rates supplied asian news international new de...
15     rates supplied asian news international new de...
16     rates supplied asian news international new de...
17     rates supplied asian news international new de...
18     government indicative coupon yield year securi...
19     ace laboratories march 21 march 27 15 dividend...
20     company date meeting purpos shaw wallace & co ...
21     daily indicators wednesday previ rupee us $ (i...
22     german airline eurowings luftverkehrs ag partn...
23     swiss anti sect campaigner claimed victory fig...
24     madrid stocks bucked trend march higher thursd...
25     france alcatel alsthom said thursday signed de...
26     dutch bonds ended thursday midsession lows mar...
27     italy bulgari said propose stock split shareho...
28     farm ministers asked vote proposal simplify he...
29     prime minister alain juppe said thursday franc...
...                                                  ...
48345  leading stories greek cypriot press monday reu...
48346  leading stories israeli newspapers monday reut...
48347  iranian president akbar hashemi rafsanjani yet...
48348  marlene tadros veteran egyptian human rights a...
48349  bank portugal said injected 4 0 billion escudo...
48350  athens interbank offered rate (athibor one mon...
48351  athens interbank offered rate (athibor one mon...
48352  following leading domestic stories portuguese ...
48353  following leading stories maltese press monday...
48354  bank portugal offered inject 10 billion escudo...
48355  average yield rose 6 0300 percent 6 0201 perce...
48356  ionian bank reported following daily year date...
48357  deafening blasts thunder streets burning cinde...
48358  shoot frenchman goes old belgian joke aim head...
48359  wang laboratories gave chairman chief executiv...
48360  hearst corp named victor ganzi executive vice ...
48361  uzbek president islam karimov leaves monday th...
48362  st jude medical inc expected announce agreemen...
48363  bermuda based partnerre ltd set announce monda...
48364  india commerce ministry said monday export pro...
48365  indian rupee held steady dollar monday brief s...
48366  bulgarian government seeking financial adviser...
48367  property steel group lion teck chiang ltd part...
48368  world bank asked bangladesh reduce import tari...
48369  walt disney co plans charge site called disney...
48370  national science foundation plans reduce numbe...
48371  indian shares plunged eight percent panicky tr...
48372  singapore shares opened weaker monday fund man...
48373  selecta dairy products inc declared monday two...
48374  tokyo stocks fell monday morning last day 1996...

                                        featureextracted
0      [0.23411320301157862, 0.0, 0.3157223830089073,...
1      [0.0, 0.7439049754604999, 0.33788129706438025,...
2      [0.0, 0.7129332719736153, 0.0, 0.0, 0.0, 0.0, ...
3      [0.0, 0.38661437509744534, 0.0, 0.0, 0.4585819...
4      [0.0, 0.0, 0.0, 0.0, 0.27852090027801146, 0.29...
5      [0.0, 0.0, 0.0, 0.0, 0.6907151903730173, 0.0, ...
6      [0.0, 0.0, 0.0, 0.18515247686945854, 0.7818342...
7      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
8      [0.36379431715857025, 0.0, 0.0, 0.303418764398...
9      [0.31817359194528705, 0.0, 0.0, 0.265369285827...
10     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66581828...
11     [0.0, 0.0, 0.0, 0.14088875195051648, 0.0, 0.15...
12     [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
13     [0.16498687361974684, 0.0, 0.0, 0.137605539654...
14     [0.0, 0.0, 0.0, 0.0, 0.33195886953172177, 0.0,...
15     [0.0, 0.0, 0.0, 0.0, 0.9056664796995589, 0.0, ...
16     [0.0, 0.0, 0.0, 0.0, 0.7299716585402027, 0.0, ...
17     [0.0, 0.0, 0.0, 0.0, 0.9056664796995589, 0.0, ...
18     [0.0, 0.0, 0.0, 0.0, 0.7691025074562541, 0.0, ...
19     [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20     [0.0, 0.48220046089367236, 0.8760609085639707,...
21     [0.0, 0.9379734778254281, 0.0, 0.0, 0.0, 0.0, ...
22     [0.0, 0.0, 0.0, 0.28238980470074593, 0.2981083...
23     [0.256791531938616, 0.0, 0.0, 0.0, 0.0, 0.0, 0...
24     [0.0, 0.0, 0.0, 0.0, 0.34312294612072886, 0.0,...
25     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.66581828...
26     [0.0, 0.0, 0.0, 0.0, 0.6643509749648242, 0.0, ...
27     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.6666305590506...
28     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
29     [0.0, 0.0, 0.0, 0.4285455124141848, 0.0, 0.0, ...
...                                                  ...
48345  [0.4579374132574898, 0.0, 0.8234255310264803, ...
48346  [0.0, 0.2880485860679563, 0.0, 0.2427396666784...
48347  [0.0, 0.0, 0.0, 0.21328996806357323, 0.0, 0.23...
48348  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1022047570340...
48349  [0.0, 0.43992709157062587, 0.0, 0.370728275491...
48350  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.33378532...
48351  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.33378532...
48352  [0.0, 0.0, 0.23129347585106927, 0.214566393367...
48353  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.9008974678538...
48354  [0.0, 0.7101866085143713, 0.0, 0.0, 0.31589494...
48355  [0.0, 0.47805901435121634, 0.0, 0.402862195507...
48356  [0.0, 0.33963369908041413, 0.0, 0.0, 0.9064257...
48357  [0.16253474966943107, 0.16086358680903437, 0.0...
48358  [0.0, 0.0, 0.0, 0.0, 0.23015402694144912, 0.0,...
48359  [0.48603119241332293, 0.0, 0.8739414625713118,...
48360  [0.0, 0.0, 0.8877964682127807, 0.0, 0.0, 0.0, ...
48361  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
48362  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
48363  [0.0, 0.0, 0.7128335924840092, 0.0, 0.0, 0.0, ...
48364  [0.0, 0.0, 0.0, 0.0, 0.0, 0.7997424813085193, ...
48365  [0.0, 0.6328981738491805, 0.09582068630806977,...
48366  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.8811939411334...
48367  [0.0, 0.109234676381555, 0.39691471741922657, ...
48368  [0.0, 0.7481124614431356, 0.0, 0.0, 0.0, 0.0, ...
48369  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
48370  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4223808106560...
48371  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.745...
48372  [0.0, 0.37752757800269454, 0.0, 0.0, 0.6717054...
48373  [0.0, 0.0, 0.8898841567095875, 0.0, 0.0, 0.0, ...
48374  [0.6045869576589676, 0.0, 0.0, 0.5042492942094...

[48375 rows x 2 columns]

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_tf['featureextracted'], dfoutput['new_topics'], test_size=0.33)

In [57]:
print (X_train[0:5])

26527    [0.0, 0.0, 0.8510341968920292, 0.3947438153785...
26292    [0.0, 0.0, 0.45209132098540905, 0.0, 0.0, 0.70...
24970    [0.0, 0.7825410119891564, 0.0, 0.0, 0.34807858...
26008    [0.0, 0.0, 0.0, 0.0, 0.0, 0.3340520808411454, ...
15052    [0.0, 0.7155482564949045, 0.0, 0.0, 0.0, 0.678...
Name: featureextracted, dtype: object

In [57]:
X_test.count()

15964

In [58]:
X_train.count()

32411

In [58]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 6, criterion = 'entropy', random_state = 0)
classifier.fit(X_train.tolist(), y_train.tolist())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=6,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [63]:
from sklearn.metrics import accuracy_score
classifier.fit(X_train.tolist(), y_train.tolist())  
y_prediction=classifier.predict(y_test)
print (accuracy_score(y_test,y_prediction))

0.7235196467345231

In [65]:
from sklearn import tree
classifier=tree.DecisionTreeClassifier()
classifier=classifier.fit(X_train,y_train)
y_prediction=classifier.predict(y_test)
print(accuracy_score(y_test,y_prediction))

0.602451982105911

In [66]:
from sklearn.linear_model import LogisticRegression 
classifier=LogisticRegression(solver='lbfgs',multi_class='multinomial',C=1e5)
classifier=classifier.fit(X_train,y_train)
y_prediction=classifier.predict(y_test)
print(accuracy_score(y_test,y_prediction))

0.734351729041698

In [69]:
from sklearn.neural_network import MLPClassifier
classifier = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
classifier=classifier.fit(X_train,y_train)
y_prediction=classifier.predict(y_test)
print(accuracy_score(y_test,y_prediction))

0.456776765321456

In [70]:
from sklearn.datasets import make_classification
from sklearn.svm import LinearSVC
X,y=make_classification(random_state=0,n_features=3)
classifier=LinearSVC(tol=1e-5,random_state=0)
classifier=classifier.fit(X_train,y_train)
y_prediction=classifier.predict(y_test)
print(accuracy_score(y_test,y_prediction))

0.756423145672145